# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
Amazon/
Cnn/
Generic/
pom.xml
unWebAutoMationSep2020titled.iml
!/unWebAutoMationSep2020titled.iml
!/unWebAutoMationSep2020titled.iml
!/.idea/
